@model Semester_project.Models.Enrollment
@{
    ViewBag.Title = "Create";
}

<h2>Add new Enrollement</h2>

<style>
    .btn {
        margin-top: 20px;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <div class="form-group">
        @Html.LabelFor(model => model.StudentId, "Student")
        @Html.DropDownListFor(model => model.StudentId, (SelectList)ViewBag.Students, "Select Student", new { @class = "form-control" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.CourseId, "Course")
        @Html.DropDownListFor(model => model.CourseId, (SelectList)ViewBag.Courses, "Select Course", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EnrollmentDate)
        @Html.TextBoxFor(model => model.EnrollmentDate, new { @class = "form-control", @type = "date" })
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</div>
}
