@model List<Semester_project.Models.Student>

@{
    ViewBag.Title = "Attendence";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<style>
    .headings {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .btn {
        height: 35px;
    }
</style>
<div class="headings">

    <h2>Students</h2>
    <a href="/Attendence/Create" class="btn btn-primary">Add new student</a>


</div>

<table class="table table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Roll Number</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Gender</th>
        <th>DOB</th>
        <th>Address</th>
        <th>Department Name</th>
        <th>Actions</th>
    </tr>

    @foreach (var student in Model)
    {
        <tr>
            <td>@student.StudentId</td>
            <td>@student.FullName</td>
            <td>@student.RollNo</td>
            <td>@student.Email</td>
            <td>@student.PhoneNumber</td>
            <td>@student.Gender</td>
            <td>@(student.DateOfBirth?.ToString("yyyy-MM-dd"))</td>

            <td>@student.Address</td>
            <td>@student.Department.DepartmentName</td>
            <td style="width: 150px;">
                <a href="@Url.Action("Edit", "Attendence", new { id = student.StudentId })" class="btn btn-success btn-sm">Edit</a>


                <form action="@Url.Action("Delete", "Attendence")" method="post" style="display:inline;">
                    <input type="hidden" name="id" value="@student.StudentId" />
                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this student?');">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>

